/* ESTILOS PARA ELEMENTOS SIEMPRE PRESENTES: NAVBAR SUPERIOS, COLUMNAS LATERALES Y REPRODUCTOR (NAVBAR INFERIOR) */
a.no-etiqueta-a {
    color: black;
    text-decoration: none;
}
/* NAVBAR SUPERIOR */

#navbarSuperior .logo {
    font-weight: bold;
    color: #ffcc00;
    font-size: 1.5rem;
}

#navbarSuperior {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  position: relative; /* necesario para buscador absoluto */
}

/*
#navbarSuperior .buscador {
  position: absolute;
  left: 20%;
  width: 58%;
}

#navbarSuperior .buscador input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}


#navbarSuperior .perfil {
    color: #f0f0f0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}

#fotoPerfil{
    width: 2em;
    margin: 1em;
}
*/

/* COLUMNAS ESTÃTICAS */
.columna {
    padding: 10px;
    height: calc(100vh - 120px);
    /* alto menos navbars */
    overflow-y: auto;
}

.izquierda, .derecha, .centro {
    position: fixed;
    top: 60px;
    /* debajo del navbar superior */
    bottom: 100px;
    /* encima del navbar inferior */
    z-index: 900;
}

.izquierda {
    left: 0;
    width: 20vw;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.derecha {
    right: 0;
    width: 20vw;
    background-color: #1e1e1e;
}

.centro {
    left: 22vw;
    right: 22vw;
    background-color: #2a2a2a;
    overflow-y: auto;
    padding: 10px;
}

.izquierda>a>div{
    background-color: #2a2a2a !important; 
    justify-content: start;
    gap: 1vw;
    color: #9a9a9a;
    font-weight: bold;
}
.izquierda div{
    align-content: center;
}

.izquierda .icono-peq, #buscador{
    margin-top: 1vh;
}

.opcion-lateral{
    fill: #5b5b5b;
    cursor: pointer;
    border-radius: 5px;
}

.opcion-lateral:hover , 
.opcion-lateral:hover path{
    background-color: #5b5b5b;
    fill: #ffcc00;
    color: #ffcc00;
}


/* NAVBAR INFERIOR (REPRODUCTOR) */
#navbarReproductor {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0f0f0;
    z-index: 1000;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.5);
}

#navbarReproductor .textoEstado{
    text-align: left;
    position: fixed;
    left: 5px
}
.play-pause-prev-next{
    max-width: 50px;
}
#navbarReproductor .botonesReproductor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50px;
}
.botonesReproductor{
    width: 50vw;
    justify-content: center;
}
section.botonesReproductor{
    margin-bottom: 12px;
}
.botonesReproductor>div{
    display: flex;
}
#videoSlider{
    flex: auto;
}


a{
    color:#ffcc00;
}
/* PARA CELULAR */
.btn-footer-cel{
    fill: white;
}

#navbar-foot-cel{
    display: none;
}
#div-btns-nav{
    display: none;
}
#div-btns-nav{
    gap: 10vw;
    padding-right: 8vw;
}
#navbar-reproductor-nombre{
    left: 15px !important;
}
@media (max-width: 800px) {
    #navbarReproductor>div{
        width: 100%;
    }
    section.botonesReproductor{
        width: 80%;
    }
    .izquierda{
        display: none;
    }
    .centro {
        left: 0;
        right: 0;
        margin-top: 60px;
        position: inherit;
        
    }
    .derecha{
        position: inherit;
        width: auto;
    }
    .section{
        max-width: 800px;
        background-color: #262626;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

    }
    #navbarSuperior{
        position: fixed;
    }
    #divSecPlayer{
        display: block;
    }
    #navbar-sup-btn-perfil{
        display: none;
    }
    #div-btns-nav{
        display: flex;
    }
    #navbarSuperior{
        justify-content: space-evenly;
    }
    #navbarReproductor{
        display: flex;
        flex-direction: column;
        height: fit-content;        
    }
    #navbar-foot-cel{
        display: flex;
    }
    #div-cont-principal{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 200px;
    }
    #navbar-controles{
        display: flex;
        flex-direction: column;
    }
    #navbar-reproductor-nombre{
        /* display: block; */
        left: 0;
        position: inherit !important; 
    }
    #listaContainer{
        margin: 0;
    }

    
}
