<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Álbumes</title>
    <link rel="stylesheet" href="../Statics/CSS/estilosRep.css">
    <link rel="stylesheet" href="../Statics/CSS/estilosLandingPage.css">
    <script src="https://youtube.com/iframe_api"></script>
    <script src="../Dynamics/JS/clases.js"></script>
    <script src="../Dynamics/JS/baseDeDatos.js"></script>
    
</head>

<body>

    <!-- NAVBAR SUPERIOR -->
    <nav id="navbarSuperior">
        <a href="" class="no-etiqueta-a link-fillable" data-tipo="home"><div class="logo">MusicETE</div></a>
        
        <a href="" class="no-etiqueta-a link-fillable" data-tipo="perfil"><div class="perfil">👤</div></a>
    </nav>

    <!-- COLUMNAS IZQUIERDA Y DERECHA FIJAS -->
    <aside class="columna izquierda">
        <a href="" class="no-etiqueta-a link-fillable" data-tipo="inicio">
            <div id="colIzqOpcInicio" class="flexRow opcion-lateral cursor">
                <div class="icono-peq">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
                </div>
                <div>
                    <span>
                        Inicio
                    </span>
                </div>
            </div>
        </a>
        <a href="" class="no-etiqueta-a link-fillable" data-tipo="buscador">
            <div id="colIzqOpcBuscador" class="flexRow opcion-lateral cursor">
                <div class="icono-peq">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#5b5b5b" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                </div>
                <div>
                    <span>
                        Buscador
                    </span>
                </div>
            </div>
        </a>
        
    </aside>
    <aside class="columna derecha">
        
        <div id="listaContainer"></div>
        
    </aside>

    <!-- SECCIÓN CENTRAL -->
    <section class="columna centro" id="secCentral">
        
        <div id="divSecPlayer" class="section">
            <div id='playerContainer'></div>
        </div>
    </section>

    

    <!-- NAVBAR INFERIOR (REPRODUCTOR) -->
    <footer id="navbarReproductor">
        <section class="textoEstado" >
            Reproduciendo: Wake me up - Avicii
        </section>
        <section class="botonesReproductor">
            <button id="btnAnterior" class="botonesReproductor" onclick="cancionAnterior()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M493.6 445c-11.2 5.3-24.5 3.6-34.1-4.4L288 297.7 288 416c0 12.4-7.2 23.7-18.4 29s-24.5 3.6-34.1-4.4L64 297.7 64 416c0 17.7-14.3 32-32 32s-32-14.3-32-32L0 96C0 78.3 14.3 64 32 64s32 14.3 32 32l0 118.3L235.5 71.4c9.5-7.9 22.8-9.7 34.1-4.4S288 83.6 288 96l0 118.3L459.5 71.4c9.5-7.9 22.8-9.7 34.1-4.4S512 83.6 512 96l0 320c0 12.4-7.2 23.7-18.4 29z"/></svg></button> <!--boton de retroceso (fast backwards)-->
            <button id="btnPausa" class="botonesReproductor"playPausa()"></button><!--boton de pausa/continuar falta la implementación en código del toggle /&#x25B6-->
            <button id="btnSiguiente" class="botonesReproductor" onclick="cancionSiguiente()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M18.4 445c11.2 5.3 24.5 3.6 34.1-4.4L224 297.7 224 416c0 12.4 7.2 23.7 18.4 29s24.5 3.6 34.1-4.4L448 297.7 448 416c0 17.7 14.3 32 32 32s32-14.3 32-32l0-320c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 118.3L276.5 71.4c-9.5-7.9-22.8-9.7-34.1-4.4S224 83.6 224 96l0 118.3L52.5 71.4c-9.5-7.9-22.8-9.7-34.1-4.4S0 83.6 0 96L0 416c0 12.4 7.2 23.7 18.4 29z"/></svg></button>
        </section>
        
    </footer>
    
    <script src="../Dynamics/JS/Reproductor.js"></script>
    <script src="../Dynamics/JS/linkFiller.js"></script>
</body> 

</html>