<!DOCTYPE html>
<head>
    <title>
        Pagina de CW full frontEnd
    </title>
    <meta charset='UTF-8'>
    <link rel="stylesheet" type="text/css" href="../Statics/CSS/estilosRep.css">
    <script src="../Dynamics/JS/BaseDeDatos.js"></script>  
    <script src="https://youtube.com/iframe_api"></script>
</head>
<body>
    
    <h1>
        MusicETE
    </h1>
    
    <div class="section">
        <h2>
            Buscador de Canciones
        </h2>
        
        <br>
        <div id='resultados'></div>
    </div>

    <div id="divSecPlayer" class="section">
        <div id='playerContainer'></div>
    </div>

    

    <div class="section">
        <h2>Lista de Reproducción</h2>
        <button id='botMostrarLista' onclick='mostrarLista()'>Mostrar Lista</button>
        <button id='botMezclarLista' onclick='mezclarLista()'>Aleatorio</button>
        <br>
        <div id='listaContainer'></div>
    </div>
    <script src="../Dynamics/JS/Reproductor.js"></script>
</body>
